<% provide(:title, 'About Us') %> 
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body> 
    <h1>About Us</h1>
    <p>There is not much to say. The derth of changes that have befallen us is staggering.
    At some point, there must be some respite. Until that time though, all we can do is 
    endure, and hope that things proceed to get better.</p>
  </body>
</html>

